<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
		              type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AnBiaoZhiJianTong.Shell.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- 日志配置 - 使用相对路径，在应用程序目录下 -->
		<add key="EnableLogging" value="true" />
		<add key="MinLogLevel" value="Info" />
		<add key="LogPath" value="Logs" />
		<!-- 调试配置 -->
		<add key="IsDebugMode" value="false" />
		<!--API接口路径-->
		<add key="4wkwbuJ5NZC2hNGR9RCsbA==" value="81vLF3cHGbBzjQMN9QnYHTjao9U0vRb71OoOGOzJrVU=" />
		<add key="Keypath" value="" />
		<!--用户登陆状态-->
		<add key="IsUserLoggedIn" value="false" />
		<add key="UserName" value="" />
		<!--客服电话-->
		<add key="CustomerServicePhone" value="16663686999" />
		<!--操作手册-->
		<add key="UserManualUrl" value="" />
		<!-- 全系规则Json文件名 -->
		<!-- BaseAnBiaoFormat.json -->
		<add key="BaseAnBiaoFormatName" value="ektFD3f9wxGfID+bZLFBsK2znRIz3I15YAnBvfcMs5U=" />
		<!-- 青海通用暗标检查格式.json" -->
		<!-- <add key="BaseAnBiaoFormatName" value="ZuH++38AIm182Kazm9OzdfalNxPO9VmSKnwDsh1+qC8CaMZYLO99veftx10U82Yh" />-->
		<!-- 用户协议和隐私协议 -->
		<add key="2BtTnGYb9AanTYUV7SMUvg=="
		     value="VlxbCe4xIF0kVR7ND191wzMferMP/JsoMAUyOREraNyHR5nyJYQFYIwW3pPWu4pG0ZmjqMAzO/A6JmqHqNr3cRZmBkHKgkgu0oPdYur9Kcw=" />
		<add key="0VOa2OW8SvA0di2eSmezng=="
		     value="VlxbCe4xIF0kVR7ND191wzMferMP/JsoMAUyOREraNyHR5nyJYQFYIwW3pPWu4pG1FlIok/bn589CYk5jE19v2WMz/Ddc0YVi2vdHsKCFYg=" />
		<!--支付链接-->
		<add key="ZfDXGF2rdYuvWaOKdafrlw=="
		     value="VlxbCe4xIF0kVR7ND191wzMferMP/JsoMAUyOREraNxv608V7W2QA4sng1HlCaebPrn6Cnkk1oPHu+g4Rma9zZyf7xkUE1O1910kcXRwEoWhJip0ybZQegkyk+li2KLILSHTn029oaSEveorX23yGIomeOcihDZnYtbi5oDpGLDiqYSSXl/SHlohNJy6O6rSVaSrzYcot+Oj4uKNaKKRTDULjGxy/DIgQ9qvjaKR/m4od/W0MeM4/w8XmgrgEXaj1MXUt3ZASQXIzFAyYYcR9dPH0/cmgkEZbeCIYpjkht8=" />
		<!--发起核销-->
		<add key="+yWG0tuio5WYmr/ZsziUVQ=="
		     value="81vLF3cHGbBzjQMN9QnYHcGcYbJ5dPLqPeV4QgYwaBiRbGkVSXbpnX8BNsNE5k3raJoqQX6ILLb+jXahi+3kuQ==" />
		<!--检查核销-->
		<add key="LHJmnMSkWgcK2C57OhuVMw=="
		     value="81vLF3cHGbBzjQMN9QnYHcGcYbJ5dPLqPeV4QgYwaBhOF4Xi099ZjJwX0jnmBCCWSWB+2Y4q0Pq2g5cDJqcpFg==" />
		<!--更新核销链接-->
		<add key="92H6RkypQMEVrdC2DZpgCw=="
		     value="81vLF3cHGbBzjQMN9QnYHcGcYbJ5dPLqPeV4QgYwaBjMuGTkdlG0VEr7vWe+5M42Mcey/chUCDOtUmrZ4NRrqA==" />
		<!--用户中心-->
		<add key="w5PQwhRpeh+AiS9d78V0xg=="
		     value="VlxbCe4xIF0kVR7ND191wzMferMP/JsoMAUyOREraNxv608V7W2QA4sng1HlCaeb6epZH8dBgFMmQnIGWAeND+ZJXm2j3AvxnUXyOFEtLvxRTWzUcv9Io0N3aaXIyx87ASHv4UblixHo/S/yPQeAasEWqgRma6yG0hkD2/8xoiKxs0ZVN4s8Wn34Juu+hcttszW3K6FzYCHUTRfFBeYFTYp+1wlRCI1DEy7vnHefYgXNlK1QPOdLfrDg4xltEuuGMxmI4AkYcpkJHT4fbI2MPl8n2Mo4LKJW3o5QM9xpKEg=" />
		<!--special_zone_guid商品专区ID-->
		<add key="SzGuid" value="4" />
		<add key="SzUser" value="4" />
	</appSettings>
	<userSettings>
		<AnBiaoZhiJianTong.Shell.Properties.Settings>
			<setting name="LastKnownVersion" serializeAs="String">
				<value>1.0.0</value>
			</setting>
			<setting name="LastCheckedTime" serializeAs="String">
				<value />
			</setting>
		</AnBiaoZhiJianTong.Shell.Properties.Settings>
	</userSettings>
</configuration>